main {
    margin-top: 30px;
}

#rect1 {
    fill: #2C4E72; /* vierkant 1*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_1 { /* kleur text*/
    fill: #000000;}

#rect2 {
    fill: #2C4E72; /*vierkant 2*/
    filter: drop-shadow(3px 5px 5px #000000); 
}
#text_vierkant_2 { /* kleur text*/
    fill: #000000;}

#rect3 {
    fill: #2C4E72; /* vierkant 3*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_3 { /* kleur text*/
    fill: #000000 ;}

#rect4 {
    fill: #2C4E72; /* vierkant 4*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_4 { /* kleur text*/
    fill: #000000 ;}


#rect5 {
    fill: #2C4E72; /* vierkant 5*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_5 { /* kleur text*/
    fill: #000000 ;}

#rect6 {
    fill: #2C4E72; /* vierkant 6*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_6 { /* kleur text*/
    fill: #000000 ;}

path {
    fill: #000000; /* kleur path */
}

