@charset "utf-8";
body{
    background-image: url(images/achtergrond.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100.5%;
    height: 100%;
    
}

/*header*/

header {
    margin-top: 0px;
    position: relative;
    height: 250px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
#Layer_1 {
    position: absolute
}

#mezelf_afbeelding {
    background-repeat: no-repeat;
    position: absolute;
    width: 500px;
    height: 500px;
    translate: -90px -50px; 
    scale: 0.82;
}

#header_rect {
    fill: #008080 ;
    position: absolute;
    translate: 20px 11px;
  
}

#header_path {
    fill: #000000; /* Zwarte kleur voor het pad */
    translate: -6px -20px;
}


#header_text {
    fill: #000000; /* Witte kleur voor de tekst */
    position: absolute;
    translate: 190px 190px;
    font: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 160px;
}


main {
    position: relative;
    margin-top: 20px;
    
}
text{
    font-family: 'Roboto', sans-serif;

}

#rect1 {
    fill: #2C4E72; /* vierkant 1*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_1 { /* kleur text*/
    fill: #000000;}

#rect2 {
    fill: #2C4E72; /*vierkant 2*/
    filter: drop-shadow(3px 5px 5px #000000); 
}
#text_vierkant_2 { /* kleur text*/
    fill: #000000;}

#rect3 {
    fill: #2C4E72; /* vierkant 3*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_3 { /* kleur text*/
    fill: #000000 ;}

#rect4 {
    fill: #2C4E72; /* vierkant 4*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_4 { /* kleur text*/
    fill: #000000 ;}


#rect5 {
    fill: #2C4E72; /* vierkant 5*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_5 { /* kleur text*/
    fill: #000000 ;}

#rect6 {
    fill: #2C4E72; /* vierkant 6*/
    filter: drop-shadow(3px 5px 5px #000000);
}
#text_vierkant_6 { /* kleur text*/
    fill: #000000 ;}

path {
    fill: #000000; /* kleur path */
}

footer{
    position: relative;
    margin-top: 20px;
    size: 100%;
}
#footergolf {
    fill: #006994 ;
    width: max-content+80px;
    position: absolute;
    left: -10px;
    right: 0px;
    height: -1000px;
}

#footergolf1 {
    fill: #006994 ;
}

#github {
    position: absolute;
    width: 5%;
    margin: 20px;
    bottom: -300px;

    
}

    


