@charset "utf-8";
header {
    margin-top: 30px;
}
#mezelf_afbeelding {
    background-repeat: no-repeat;
    position: absolute;
    left: -99px;
    top: -87px;
    width: 500px;
    height: 500px;
}

#header_rect {
    fill: #e85112; /* Oranje kleur voor de rechthoek */
}

#header_path {
    fill: #000000; /* Zwarte kleur voor het pad */
}

#header_frame {
    background: #e85112; /* Groene kleur voor de achtergrond */
    border: 1px solid #000000; /* Zwarte kleur voor de rand */
    position: relative;
    left: 25px;
    top: 31px;
    width: 1846px;
    height: 233px;
    border-radius: 40px;
}

#header_text {
    fill: #000000; /* Witte kleur voor de tekst */
}
